In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inliney_obs 

X = my_data.iloc[:,0:2].values

In [3]:
Dataset=pd.read_csv("C:/Users/arpithasn/Desktop/Dataset/mmm_with_noads.csv")

In [4]:
print(Dataset.shape)

(7442, 9)

In [5]:
print(Dataset.columns)

Index(['period', 'whscode', 'advertisement_expenses', 'newspaper', 'noad',
       'others', 'radio', 'television', 'linetotal'],
      dtype='object')

In [6]:
Dataset.head(5)

,period,whscode,advertisement_expenses,newspaper,noad,others,radio,television,linetotal
0,2016_14,36951,0.0,0.0,0,0.0,0.0,0.0,278959.08
1,2016_14,APK1,0.0,0.0,0,0.0,0.0,0.0,293424.00
2,2016_14,BZR1,0.0,0.0,0,0.0,0.0,0.0,29825.32
3,2016_14,CBE1,0.0,0.0,0,0.0,0.0,0.0,425092.33
4,2016_14,CBE2,0.0,0.0,0,0.0,0.0,0.0,1020994.48

In [7]:
Dataset.describe()

,advertisement_expenses,newspaper,noad,others,radio,television,linetotal
count,7.442000e+03,7.442000e+03,7442.0,7.442000e+03,7.442000e+03,7.442000e+03,7.442000e+03
mean,1.959250e+04,1.532896e+04,0.0,7.403767e+03,1.525294e+03,2.341725e+04,2.074224e+06
std,9.717656e+04,3.800730e+05,0.0,1.130669e+05,3.986172e+04,5.552022e+05,2.108580e+06
min,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,7.354889e+05
50%,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,1.498273e+06
75%,3.500000e+03,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.669555e+06
max,3.062883e+06,1.457104e+07,0.0,3.119083e+06,1.728090e+06,2.152172e+07,2.133214e+07

In [8]:
Dataset.isnull().any()

period                    False
whscode                   False
advertisement_expenses    False
newspaper                 False
noad                      False
others                    False
radio                     False
television                False
linetotal                 False
dtype: bool

In [9]:
Dataset.corr()

,advertisement_expenses,newspaper,noad,others,radio,television,linetotal
advertisement_expenses,1.000000,0.362363,NaN,0.345431,0.302390,0.357373,-0.020200
newspaper,0.362363,1.000000,NaN,0.608442,0.681002,0.894519,-0.039680
noad,NaN,NaN,NaN,NaN,NaN,NaN,NaN
others,0.345431,0.608442,NaN,1.000000,0.656751,0.619939,-0.064108
radio,0.302390,0.681002,NaN,0.656751,1.000000,0.665107,-0.037646
television,0.357373,0.894519,NaN,0.619939,0.665107,1.000000,-0.041496
linetotal,-0.020200,-0.039680,NaN,-0.064108,-0.037646,-0.041496,1.000000

In [10]:
dataset=Dataset.drop(['period', 'whscode','noad'],axis=1)

In [11]:
dataset.tail(2)

      advertisement_expenses  newspaper  others  radio  television  linetotal
7440                     0.0        0.0     0.0    0.0         0.0   370320.4
7441                  5880.0        0.0     0.0    0.0         0.0        0.0

In [13]:
import scipy
import pymc3 as pm
import seaborn as sns
from sklearn.linear_model import LinearRegression

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\arpithasn\AppData\Local\Continuum\anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [14]:
y_obs = dataset.linetotal.astype(float).values

X = dataset.iloc[:,0:4].values

In [15]:
X[:,0:4]

array([[   0.,    0.,    0.,    0.],
       [   0.,    0.,    0.,    0.],
       [   0.,    0.,    0.,    0.],
       ...,
       [   0.,    0.,    0.,    0.],
       [   0.,    0.,    0.,    0.],
       [5880.,    0.,    0.,    0.]])

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y_obs)

In [17]:
# OLS
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 2080103.5400031838
Coefficients:
 [ 0.35630542  0.00299848 -1.48044159  1.00298182]

In [19]:
a = regr.coef_

In [20]:
a1 = a[0]
a2 = a[1]
a3 = a[2]
a4 = a[3]

In [21]:
predictions_ols = regr.predict(x_test)

In [22]:
from statistics import mean

In [23]:
def squared_error(ys_orig,ys_line):
    return sum((ys_line - ys_orig) * (ys_line - ys_orig))

In [24]:
def coefficient_of_determination(ys_orig,ys_line):
    y_mean_line = [mean(ys_orig) for y in ys_orig]
    squared_error_regr = squared_error(ys_orig, ys_line)
    squared_total_y_mean = squared_error(ys_orig, y_mean_line)
    return 1 - (squared_error_regr/squared_total_y_mean)

In [25]:
regression_line_ols = regr.intercept_ + a1*x_train[:,0] + a2 * x_train[:,1]+ a3 * x_train[:,2]+ a4 * x_train[:,3]

In [26]:
r_squared_ols = coefficient_of_determination(y_train,regression_line_ols)
print(r_squared_ols)

0.004040342143565745

In [27]:
from theano import shared

In [28]:
shared_x = shared(x_train)

In [30]:
# Bayesian regression
with pm.Model() as linear_model:
    # Intercept
    b0= pm.Normal('bo', mu = 0, sd = 10)
    # Slope 
    b1 = pm.Uniform('b1',lower=0, upper=1)
    # Standard deviation
    b2 = pm.Normal('b2', mu = 0,sd = 10)
    
    b3 = pm.Normal('b3',mu = 0, sd = 10)
    
    b4 = pm.Normal('b4',mu = 0, sd = 10)
    
     # prior for the error term of due to the noise
    sigma = pm.HalfCauchy('sigma', beta=10)
    
    # Estimate of mean
    mu = b0 + b1 * shared_x[:,0]+ b2 * shared_x[:,1] + b3 * shared_x[:,2] + b4 * shared_x[:,3]
    
    # Observed values
    Y_obs = pm.Normal('Y_obs', mu = mu, sd = sigma, observed = y_train)
    
    
    trace = pm.sample(50, njobs=1)

Only 50 samples in chain.
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...
Sequential sampling (2 chains in 1 job)
NUTS: [sigma, b4, b3, b2, b1, bo]
 55%|████████████████████████████████████████████▎                                   | 305/550 [47:39<33:06,  8.11s/it]

ValueError: Mass matrix contains zeros on the diagonal.
The derivative of RV `b4`.ravel()[0] is zero.
The derivative of RV `b3`.ravel()[0] is zero.
The derivative of RV `b1_interval__`.ravel()[0] is zero.
The derivative of RV `bo`.ravel()[0] is zero.

In [ ]:
pm.traceplot(trace);
   
pm.plot_posterior(trace, figsize = (12, 10), text_size = 20);
   
result  =  pm.summary(trace).round(2)